.col-1, .col-2, .col-3 {
	float: left;
}

.col-1 {
	width: 40%;
	padding: 2em 10% 0 2.5%;
		/*margin-right:1em;*/
}

.col-2, .col-3 {
	width: 30%;
	min-height: 60rem;
	padding: 2em 2%;
	background-image: image-url('headerbgnew.png');
	background-repeat: repeat;
}

.hp_content {
	h2 {
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .2em;
		text-transform: uppercase;
	}
	a{
		text-decoration: none;
		color: $dark;
		&:hover {
			color: $highlight;
		}
	}
	.date {
		font-size: 1em;
		margin-bottom: 3em;
		color: black;
		text-align: center;
	}
	p {
		margin: 0 0 0.75em 0;
		line-height: 2.5;
	}

}
/*	.about {
		padding: 0 7.5% 0 0;
	}*/
