
	<h1 id="page_title">Reviews</h1>	
	<div id ="posts_wrapper" class="skinny_wrapper">
	<% @reviews.each do |review| %>
		<div class ="post">
			<p class="date"><%= review.created_at.strftime('%A, %b %d') %></p>
			<h2><a href="#"><%= link_to review.title, review %></a></h2>
			<hr>
		</div>
	<% end %>


	</div>